@font-face {
  font-family: 'EB Garamond';
  src:
    url('./ebgaramondregular.woff2') format('woff2'),
    url('./ebgaramondregular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url(./Roboto-Regular.woff2) format('woff2'),
    url(./Roboto-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}